.new-incident-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-incident-container .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.new-incident-container section {
    width: 100%;
    max-width: 1200px;
    margin: 2%;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0px;
    left: 0px;
}

.new-incident-container section input {
    width: 100%;
}

.new-incident-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .content form {
    width: 100%;
    background-color: #f1f0f5;
}

.new-incident-container .content form input,
.new-incident-container .content form textarea {
    margin-top: 8px;
}

.new-incident-container .content form .input-group {
    display: flex;
}

.new-incident-container .content form .input-group input+input {
    margin-left: 8px;
}

.cover {
    background: #ffffff;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover section h1 {
    color: #737380;
    margin-left: 15px;
}

.logo {
    width: 25%;
    margin-right: 2%;
}

.canva-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7B65A7;
}

.salvar {
    width: 20%; 
}